/*Mobile*/
@media (max-width: 360px) {

   div.tudo{
       position: relative;
       width: 360px;
       height: 4379px;
       background: #F5F5F5;
   }
   .caja__menu{
       display: flex;
       justify-content: center;
       width: 360px;
       background-color: #28df18;
       /* background-color: #EAF2FD; */
       position: fixed;

   }
   section.menu{
       display: flex;
       flex-direction: row;
       justify-content: space-between;
       align-items: center;
       width: 320px;
       height: 56px;
       flex: none;
       order: 0;
       flex-grow: 0;
   }
   .menu__list__item__hidden{
       display:flex!important;
       width: auto;
       height: 19px;
       font-family: 'Raleway';
       font-style: normal;
       font-weight: 300;
       font-size: 14px;
       line-height: 19px;
       flex: none;
       order: 1;
       flex-grow: 0;
   }
   .menu__title{
       font-size: 14px;
   }  
   .menu__list__item{
       display:none!important;
   }     
   .menu__ul__list{
       width: auto;
       display: flex;
       flex-direction: row;
       align-items: center;
       padding: 0px;
       gap: 32px;
       width: auto;
       height: 19px;
       flex: none;
       order: 1;
       flex-grow: 0;
   }
   nav li{
       display:block;
   }

/*title*/

section.title{
   display: flex;
   justify-content: center;
   align-items: center;
   padding-top: calc(56px + 1rem);
   padding-bottom: 1rem;
   width: 360px;
   height: auto;
   flex: none;
   order: 1;
   flex-grow: 0;
}
.title__div{
   display: flex;
   flex-direction: column;
   /* justify-content: space-between; */
   align-items: flex-start;
   padding: 0px;
   width: 320px;
   height: auto;
}
.title__container{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   padding: 0px;
   gap: 8px;
   width: 360px;
   height: auto;
   flex: none;
   order: 0;
   flex-grow: 0;
}
.title__profile{
   width: 146px;
   height: 146px;
}
.title__bio{
   width: 320px;
   height: 52px;
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 700;
   font-size: 18px;
   text-align: justify;
   line-height: 26px;
   color: #464646;
   flex: none;
   order: 0;
   align-self: stretch;
   flex-grow: 0;
}
.title__subsection{
   width: 320px;
   height: auto;
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 400;
   font-size: 12px;
   text-align: justify;
   line-height: 19px;
   color: #464646;
   flex: none;
   /* order: 1; */
   align-self: stretch;
   flex-grow: 0;
}
.title__network{
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   padding: 0px;
   gap: 32px;
   width: 320px;
   height: 24px;
   font-size: 12px;
   font-weight: 600;
}

/*About*/

section.about{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 10px;
   width: 360px;
   height: auto;
   background: #EAF2FD;
   flex: none;
   order: 2;
   align-self: stretch;
   flex-grow: 0;
}
.about__container{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   padding: 1rem 0;
   gap: 16px;
   width: 320px;
   height: auto;
   flex: none;
   order: 0;
   flex-grow: 0;
}
.about__paragraph{
   text-align: justify;
   width: 320px;
   height: auto;
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 400;
   font-size: 12px;
   text-align: justify;
   line-height: 19px;
   color: #464646;
}
/* Sección Skills hobbies Academic */

.skills__hobbies__academic{
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 0px;
   gap: 3rem;
   flex: none;
   order: 3;
   align-self: stretch;
   flex-grow: 0;
}

/* Sección Skills */

section.skills{
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-top: 3rem;
   gap: 32px;
   flex: none;
   width: 360px;
   height: auto;
   order: 0;
   align-self: stretch;
   flex-grow: 0;
}
.skills__title{
   width: 82px;
   height: 38px;
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 700;
   font-size: 22px;
   line-height: 26px;
   text-align: center;
   color: #464646;
   flex: none;
   order: 0;
   flex-grow: 0;
}
.skills__line{
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   justify-content: space-between;
   padding: 0px;
   gap: 16px;
   width: 320px;
   flex: none;
   order: 1;
   flex-wrap: wrap;
}
.skills__box{
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items: flex-start;
   padding: 16px;
   gap: 8px;
   width: 120px;
   height: 100px;
   background: #FFFFFF;
   flex: none;
   order: 1;
   flex-grow: 0;
}
.skills__img{
   width: 24px;
   height: 37px;
   font-family: 'Font Awesome 5 Brands';
   font-style: normal;
   font-weight: 400;
   font-size: 32px;
   line-height: 37px;
   display: flex;
   align-items: center;
   text-align: center;
   color: #2A7AE4;
   flex: none;
   order: 0;
   flex-grow: 0;
}

.skills__name{
   width: 144px;
   height: 19px;
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 19px;
   display: flex;
   align-items: center;
   color: #464646;
   flex: none;
   order: 0;
   align-self: stretch;
   flex-grow: 0;
}

/*Sección Hobbies*/

section.hobbies{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   padding: 0px;
   gap: 32px;
   flex: none;
   order: 1;
   flex-grow: 0;
}
.hobbies__title{
   width: 82px;
   height: 38px;
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 700;
   font-size: 22px;
   line-height: 26px;
   text-align: center;
   color: #464646;
   flex: none;
   order: 0;
   flex-grow: 0;
}
.hobbies__line{
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   justify-content: space-between;
   padding: 0px;
   gap: 16px;
   width: 320px;
   flex: none;
   order: 1;
   flex-wrap: wrap;
}
.hobbies__box{
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items: flex-start;
   padding: 16px;
   gap: 8px;
   width: 120px;
   height: 100px;
   background: #FFFFFF;
   flex: none;
   order: 1;
   flex-grow: 0;
}
.hobbies__img{
   width: 24px;
   height: 37px;
   font-family: 'Font Awesome 5 Brands';
   font-style: normal;
   font-weight: 400;
   font-size: 32px;
   line-height: 37px;
   display: flex;
   align-items: center;
   text-align: center;
   color: #2A7AE4;
   flex: none;
   order: 1;
   flex-grow: 0;
}
.hobbies__name{
   width: 144px;
   height: 19px;
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 19px;
   display: flex;
   align-items: center;
   color: #464646;
   flex: none;
   order: 1;
   align-self: stretch;
   flex-grow: 0;
}

/* Experiencia Académica*/

section.academic{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 1rem;
   width: 360px;
   height: auto;
   background: #EAF2FD;
   flex: none;
   order: 2;
   align-self: stretch;
   flex-grow: 0;
   padding: 1rem 0;
}
.academic__title{
   width: 339px;
   height: 38px;
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 700;
   font-size: 22px;
   line-height: 38px;
   text-align: center;
   color: #464646;
   flex: none;
   order: 0;
   flex-grow: 0;
}
.academic__courses{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: center;
   padding: 0px;
   gap: 16px;
   width: 320px;
   height: auto;
   flex: none;
   order: 2;
   flex-grow: 0;
}
.academic__courses__box{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   padding: 0px;
   gap: 8px;
   width: 320px;
   height: 260px;
   flex: none;
   order: 2;
   flex-grow: 0;
}
.academic__courses__list{
   width: 320px;
}
.academic__courses__item__img{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   gap: 10px;
   width: 320px;
   height: 200px;
   background: #FFFFFF;
   flex: none;
   order: 2;
   flex-grow: 0;
}
.academic__courses__item__title{
   height: 26px;
   margin-top: 12px;
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 26px;
   text-align: center;
   color: #464646;
   flex: none;
   order: 2;
   flex-grow: 0;
}
.academic__courses__item__subtitle{
   height: 19px;
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 500;
   font-size: 12px;
   line-height: 14px;
   text-align: center;
   color: #464646;
   flex: none;
   order: 2;
   flex-grow: 0;
}

/* experiencia*/

section.experience{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 3rem;
   padding: 0px;
   gap: 0px;
   width: 360px;
   height: auto;
   flex: none;
   order: 4;
   flex-grow: 0;
}
.experiencie__box{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   padding: 0px;
   margin-top: 2rem;
   gap: 16px;
   width: 320px;
   height: auto;
   flex: none;
   order: 0;
   flex-grow: 0;
}
.experience__img{
   width: 320px;
   height: auto;
}
.experiencie__box__reverse{
   flex-direction: column;
   margin-top: 2rem;

}

.experience__info{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   padding: 0px;
   gap: 8px;
   width: auto;
   height: 112px;
   flex: none;
   order: 1;
   flex-grow: 1;
}

.experience__title{
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 26px;
   color: #464646;
   flex: none;
   order: 0;
   align-self: stretch;
   flex-grow: 0;
   width: auto;
}
.experience__text{
   width: auto;
   height: 19px;
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 19px;
   color: #464646;
   flex: none;
   order: 1;
   align-self: stretch;
   flex-grow: 0;
}
.experience__section__title{
   width: 339px;
   height: 38px;
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 700;
   font-size: 22px;
   line-height: 38px;
   text-align: center;
   color: #464646;
   flex: none;
   order: 0;
   flex-grow: 0;
}
.experience__description{
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   padding: 0px;
   gap: 16px;
   width: auto;
   height: 40px;
   flex: none;
   order: 2;
   flex-grow: 0;
}
.experience__repo{
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   gap: 10px;
   width: 116px;
   height: 40px;
   border-radius: 5px;
   border: 1px solid #2A7AE4;
   flex: none;
   order: 0;
   flex-grow: 0;
}
.experience__demo{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   gap: 10px;
   width: 105px;
   height: 40px;
   border-radius: 5px;
   background: #2A7AE4;
   flex: none;
   order: 1;
   flex-grow: 0;
}
.experiencia__botao__repo{
   height: 19px;
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 19px;
   color: #2A7AE4;
   flex: none;
   order: 0;
   flex-grow: 0;
}
.experience__botao__demo{
   height: 19px;
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 19px;
   color: #FFFFFF;
   flex: none;
   order: 0;
   flex-grow: 0;
}

/*Contacto*/

section.formcontato{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   padding: 0px;
   width: 360px;
   flex: none;
   flex-grow: 0;
   margin-top: 1.5rem;
}
.formcontato__img{
   display:none;
}
.formcontato__contacto{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 10px;
   width: 360px;
   height: auto;
   background: #EAF2FD;
   flex: none;
   order: 0;
   flex-grow: 0;
}

.formcontato__contacto__box{
   display: flex;
   flex-direction: row;
   align-items: center;
   padding:16px 0;
   gap: 16px;
   width: 360px;
   height: auto;
   flex: none;
   order: 0;
   flex-grow: 0;
}
.formcontato__text{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   padding: 0px;
   gap: 32px;
   width: 320px;
   height: auto;
   flex: none;
   order: 1;
   flex-grow: 1;
}
.formcontacto__text__box{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   padding: 0px;
   gap: 0px;
   width: 320px;
   height: 84px;
   flex: none;
   order: 0;
   flex-grow: 0;
}
.formcontato__title{
   width: 141px;
   height: 38px;
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 700;
   font-size: 24px;
   line-height: 38px;
   color: #464646;
   flex: none;
   order: 0;
   flex-grow: 0;
}
.formcontato__subtext{
   width: auto;
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 19px;
   color: #464646;
   flex: none;
   order: 1;
   flex-grow: 0;
   text-align: justify;
}
.formcontato__form{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   padding: 0px;
   gap: 31px;
   width: 320px;
   height: 397px;
   flex: none;
   order: 0;
   align-self: stretch;
   flex-grow: 0;
}

.formcontato__form__box{
   display: flex;
   justify-content: center;
   width: 320px;
   height: 56px;
   background: #FFFFFF;
   border-radius: 4px;
   flex: none;
   order: 0;
   align-self: stretch;
   flex-grow: 0;
}
.formcontato__form__linea{
   position: absolute;
   height: 1px;
   left: 0%;
   right: 0%;
   top: 55px;
   background: #C8C8C8;
}
.formcontato__form__label{
   width: 50px;
   height: 16px;
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 400;
   font-size: 12px;
   line-height: 16px;
   display: flex;
   align-items: center;
   color: #A2A2A2;
   flex: none;
   order: 0;
   align-self: stretch;
   flex-grow: 0;
}
.formcontato__form__label__email{
   width: 300px;
   height: 16px;
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 400;
   font-size: 12px;
   line-height: 16px;
   display: flex;
   align-items: center;
   color: #2A7AE4;
   flex: none;
   order: 0;
   align-self: stretch;
   flex-grow: 0;
}
.formcontato__input__box{
   display: flex;
   flex-direction: row;
   align-items: center;
   padding: 0px;
   gap: 4px;
   width: 300px;
   height: 20px;
   flex: none;
   order: 1;
   align-self: stretch;
   flex-grow: 0;
   border: none;
}
.formcontato__input{
   width: 100%;
   height: 20px;
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 20px;
   display: flex;
   align-items: center;
   color: #464646;
   border: none;
   flex: none;
   order: 0;
   flex-grow: 0;
}
.formcontato__input__box{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: flex-start;
   padding: 0px;
   gap: 4px;
   width: 300px;
   height: 20px;
   flex: none;
   order: 1;
   align-self: stretch;
   flex-grow: 0;
}
.formcontato__form__box__label__input{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 300px;
}
.formcontato__form__box__textarea{
   display: flex;
   align-items: center;
   justify-content: center;
   width: 320px;
   height: 133px;
   background: #FFFFFF;
   border-radius: 4px;
   flex: none;
   order: 0;
   align-self: stretch;
   flex-grow: 0;
}
.formcontato__input__box__textarea{
   width: 632px;
   height: 103px;
   display: flex;
   flex-direction: row;
   align-items: center;
   padding: 0px 12px;
}
.formcontato__textarea{
   width: 100%;
   height: 100%;
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 20px;
   display: flex;
   align-items: center;
   color: #A2A2A2;
   flex: none;
   order: 0;
   align-self: stretch;
   flex-grow: 0;
   border: none;
}
.formcontato__botao{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   padding: 16px;
   gap: 10px;
   width: 144px;
   height: 51px;
   background: #2A7AE4;
   flex: none;
   order: 2;
   flex-grow: 0;
   border-radius: 5px;
}
.formcontato__botao__span{
   height: 19px;
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 19px;
   color: #FFFFFF;
    flex: none;
   order: 0;
   flex-grow: 0;
}

/*footeer*/

section.footer{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   gap: 10px;
   width: 1440px;
   height: 102px;
   background: #FFFFFF;
   flex: none;
   order: 1;
   flex-grow: 0;
}
.footer__rodape{
   width: auto;
   height: 38px;
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 19px;
   text-align: center;
   color: #464646;
   flex: none;
   order: 0;
   flex-grow: 0;
}
}